<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ngx-http-annotations test application !
  </h1>
</div>
<h2>Test call for https://jsonplaceholder.typicode.com/: </h2>

<h3>Post 1</h3>
{{post1 | json}}

<h3>Post 2</h3>
{{post2 | json}}
<h3>Post 3 (New)</h3>
{{post3 | json}}
<h3>Post 4 (Update)</h3>
{{post4 | json}}
<h3>Post 5 (Delete)</h3>
{{post5 | json}}

<h3>todos (with rxjs filter)</h3>
{{todos | json}}

<h3>Post Mock</h3>
{{postMock | json}}

